# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [39]:
weather_output = pd.read_csv('Weather_output.csv')
weather_output.head()

,Unnamed: 0,Cities,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date
0,0,Homer,59.6425,-151.5483,86,26.01,75,6.91,US,1611953361
1,1,Kushima,31.4583,131.2333,86,32.00,0,4.00,JP,1611953361
2,2,Rikitea,-23.1203,-134.9692,67,79.88,97,6.49,PF,1611953238
3,3,Cabo San Lucas,22.8909,-109.9124,60,84.00,1,17.27,MX,1611953249
4,4,Butaritari,3.0707,172.7902,75,80.60,93,18.63,KI,1611953204

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [40]:
gmaps.configure(api_key=g_key)

In [41]:
locations = weather_output[["Latitude","Longitude"]]
humidity = weather_output["Humidity"]
humidity

0      86
1      86
2      67
3      60
4      75
       ..
568    91
569    20
570    88
571    38
572    67
Name: Humidity, Length: 573, dtype: int64

In [42]:
fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=100,point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

# A max temperature lower than 80 degrees but higher than 70.
step_1 = weather_output[weather_output["Max Temperature"] < 80]
step_2 = step_1[step_1["Max Temperature"] > 70]
step_2.head()
#Wind speed less than 10 mph.
step_3 = step_2[step_2["Wind Speed"] < 10]
#Zero cloudiness.
step_4 = step_3[step_3["Cloudiness"] == 0]

step_4.head()
#  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

,Unnamed: 0,Cities,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date
61,61,Saint-Pierre,-21.3393,55.4781,65,78.80,0,4.61,RE,1611953242
67,67,Saint-Philippe,-21.3585,55.7679,65,78.80,0,4.61,RE,1611953240
132,132,Saint-Joseph,-21.3667,55.6167,65,78.80,0,4.61,RE,1611953373
140,140,Araouane,18.9048,-3.5265,20,70.77,0,7.90,ML,1611953355
206,206,Jilib,0.4883,42.7854,83,74.23,0,7.20,SO,1611953381

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = step_4
hotel_df.head()

,Unnamed: 0,Cities,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date
61,61,Saint-Pierre,-21.3393,55.4781,65,78.80,0,4.61,RE,1611953242
67,67,Saint-Philippe,-21.3585,55.7679,65,78.80,0,4.61,RE,1611953240
132,132,Saint-Joseph,-21.3667,55.6167,65,78.80,0,4.61,RE,1611953373
140,140,Araouane,18.9048,-3.5265,20,70.77,0,7.90,ML,1611953355
206,206,Jilib,0.4883,42.7854,83,74.23,0,7.20,SO,1611953381

In [8]:
hotel_df["Hotel Name"] = ""
hotel_df.head()

<ipython-input-8-64598bec773a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,Unnamed: 0,Cities,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date,Hotel Name
61,61,Saint-Pierre,-21.3393,55.4781,65,78.80,0,4.61,RE,1611953242,
67,67,Saint-Philippe,-21.3585,55.7679,65,78.80,0,4.61,RE,1611953240,
132,132,Saint-Joseph,-21.3667,55.6167,65,78.80,0,4.61,RE,1611953373,
140,140,Araouane,18.9048,-3.5265,20,70.77,0,7.90,ML,1611953355,
206,206,Jilib,0.4883,42.7854,83,74.23,0,7.20,SO,1611953381,

In [ ]:
location = "-21.3393,55.4781"
types = "lodging"
radius = 5000

#params = {"location": location, "types": types,"radius": radius,"key": g_key,}
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


#response = requests.get(base_url,params=params)
    

#print(response.url)    
    
#sp_hotels = response.json()
#print(json.dumps(sp_hotels, indent=4,sort_keys=True))

In [ ]:
#print(sp_hotels["results"][0]["name"])

In [ ]:
#hotel_df.head()

In [15]:
#ABOVE WAS THE TEST FOR THE ITERATION BELOW

hotel_name = []
types = "lodging"
radius = 5000
for index,row in hotel_df.iterrows():

    lat = row["Latitude"]
    lon = row["Longitude"]
    city = row["Cities"]
    
    params = {"location": f"{lat},{lon}", "types": types,"radius": radius,"key": g_key,}
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url,params=params)
    results = response.json()
    #print(json.dumps(results, indent=4,sort_keys=True))
    try:
        print(f"Working on finding a hotel in {city}")
        hotel_df.loc[index,"Hotel Name"] = results["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_df.loc[index, "Hotel Name"] = "N/A"

Working on finding a hotel in Saint-Pierre

C:\Users\Stephen\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Working on finding a hotel in Saint-Philippe
Working on finding a hotel in Saint-Joseph
Working on finding a hotel in Emerald
Working on finding a hotel in Oussouye

In [18]:
#Check out progress
hotel_df.head(10)

,Unnamed: 0,Cities,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date,Hotel Name
61,61,Saint-Pierre,-21.3393,55.4781,65,78.8,0,4.61,RE,1611953242,Lindsey Hôtel
67,67,Saint-Philippe,-21.3585,55.7679,65,78.8,0,4.61,RE,1611953240,"Chambres d'hôte ""La Trinité"""
132,132,Saint-Joseph,-21.3667,55.6167,65,78.8,0,4.61,RE,1611953373,"""Plantation Bed and Breakfast"
479,479,Emerald,-23.5333,148.1667,83,71.6,0,4.61,AU,1611953411,The Irish Village
503,503,Oussouye,12.4850,-16.5469,50,78.8,0,5.55,SN,1611953414,Auberge du Routard

In [16]:
hotel_df =hotel_df[hotel_df["Hotel Name"] != "N/A" ]

In [17]:
hotel_df

,Unnamed: 0,Cities,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date,Hotel Name
61,61,Saint-Pierre,-21.3393,55.4781,65,78.8,0,4.61,RE,1611953242,Lindsey Hôtel
67,67,Saint-Philippe,-21.3585,55.7679,65,78.8,0,4.61,RE,1611953240,"Chambres d'hôte ""La Trinité"""
132,132,Saint-Joseph,-21.3667,55.6167,65,78.8,0,4.61,RE,1611953373,"""Plantation Bed and Breakfast"
479,479,Emerald,-23.5333,148.1667,83,71.6,0,4.61,AU,1611953411,The Irish Village
503,503,Oussouye,12.4850,-16.5469,50,78.8,0,5.55,SN,1611953414,Auberge du Routard

In [22]:
# NOTE: Do not change any of the code in this cell
#I am an idiot and kept Lat and Long in full names
hotel_df = hotel_df.rename(columns={"Latitude":"Lat","Longitude":"Lng"})

In [23]:
hotel_df.head()

,Unnamed: 0,Cities,Lat,Lng,Humidity,Max Temperature,Cloudiness,Wind Speed,Country Code,Date,Hotel Name
61,61,Saint-Pierre,-21.3393,55.4781,65,78.8,0,4.61,RE,1611953242,Lindsey Hôtel
67,67,Saint-Philippe,-21.3585,55.7679,65,78.8,0,4.61,RE,1611953240,"Chambres d'hôte ""La Trinité"""
132,132,Saint-Joseph,-21.3667,55.6167,65,78.8,0,4.61,RE,1611953373,"""Plantation Bed and Breakfast"
479,479,Emerald,-23.5333,148.1667,83,71.6,0,4.61,AU,1611953411,The Irish Village
503,503,Oussouye,12.4850,-16.5469,50,78.8,0,5.55,SN,1611953414,Auberge du Routard

In [25]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map
#https://jupyter-gmaps.readthedocs.io/en/latest/api.html
marker_given = gmaps.marker_layer(locations,info_box_content=info_box_template,display_info_box=None)

fig.add_layer(marker_given)
fig

Figure(layout=FigureLayout(height='420px'))